[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
psycopg2 = "*"
cachetools = "*"
jinja2 = "*"
twitchio = "*"
ttldict2 = "*"
dacite = "*"
mypy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
